/* Global Styles */
* {
    margin: 110;
    padding: 10;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #dcdcda;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    text-align: center;
}

.app-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.inputs {
    margin-bottom: 20px;
}

.note-input, .note-title {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.note-input:focus, .note-title:focus {
    border-color: #1fc3ff;
}

.add-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #006eff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.add-btn:hover {
    background-color: #0056b3;
}

.notes-list {
    margin-top: 20px;
    text-align: left;
}

.note-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.note-item:hover {
    transform: scale(1.05);
}

.note-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}        

.note-title1 {
    font-weight: bold;
    color: #333;
    width: 240px;
    padding: 10px;
    font-size: 1rem;
}

.note-content {
    font-size: 1rem;
    color: #666;
    width: 800px;
}

.delete-btn {
    background-color: #fb0505;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e60000;
}